body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
}

.video{
background:white;
width:420px;
margin:20px auto;
padding:15px;
border-radius:10px;
}

.thumbnail{
width:400px;
cursor:pointer;
}

iframe{
width:400px;
height:225px;
}

button{
padding:10px 15px;
background:red;
color:white;
border:none;
cursor:pointer;
}
