body{
font-family:Arial;
margin:0;
background:#f2f2f2;
}

header{
display:flex;
gap:10px;
align-items:center;
padding:10px;
background:#202020;
color:white;
}

header input{
padding:8px;
width:200px;
}

.addBox{
text-align:center;
margin:20px;
}

#videos{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
gap:20px;
padding:20px;
}

.videoCard{
background:white;
padding:10px;
border-radius:8px;
text-align:center;
}

.videoCard img{
width:100%;
cursor:pointer;
}

iframe{
width:560px;
height:315px;
display:block;
margin:auto;
}

.dark{
background:#121212;
color:white;
}

.dark .videoCard{
background:#1e1e1e;
}
